.create__post{
    color: white;
    width: 38%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    background-color: #131314;
    border-radius: 10px;
    margin: 10px;
    padding: 7px 10px;
    gap: 20px;
}

.user__input{
    display: flex;
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: first baseline;
    border: white 1px;
    gap: 10px;
    padding: 0 10px;
}

.input{
    display: flex;
    border: solid #FEFEFE 1px;
    width: 85%;
    height: 75%;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 0 5px;
}

.input input{
    height: inherit;
}

.write{
    background-color: inherit;
    width: 85%;
    height: 30%;
    color: white;
    outline: none;
    border: none;
}

.post__options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: first baseline;
    gap: 35px;
    padding: 0 10px;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    gap: 8px;
}

@media (max-width : 768px){
    .create__post{
        width: 95%;
        margin: 7px;
        padding: 5px;
    }
}